<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
  <title>주문 상세내용</title>
</head>

<body>
<main layout:fragment="main">
  <script src="https://js.tosspayments.com/v1"></script>
  <section class="section section-write container mx-auto">
    <div class="px-2 pt-4">
      <h1 class="font-bold text-lg">주문 상세내용</h1>

      <div class="flex flex-col gap-3 mt-3">

        <div>
          주문번호 : [[${order.id}]]
        </div>

        <div>
          주문날짜 : [[${order.createDate}]]
        </div>

        <div>
          주문자 : [[${order.member}]]
        </div>
        <div>
          <h1>아아아아ㅏ</h1>
          <div th:text = "${#lists.size(order.orderItems)}"></div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>